.inbox-container {
  display: flex;
  flex-direction: column;
}

.archive-all {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  padding: 1.2em 0;
  padding-left: 1em;
  margin: 1em 1em;
  transition: all 0.5s ease;
}

.archive-all:hover {
  cursor: pointer;
  background-color: #A8D5BAFF;
}

.archive-icon {
  margin-right: 0.5em;
}

.each-call-container {
  height: 460px;
  overflow-y: auto;
}

.call-date {
  text-align: center;
  font-size: 0.8em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.call {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.call-info {
  flex-grow: 1;
  padding-left: 20px;
}

.call-from {
  font-weight: bold;
  padding-bottom: 5px;
}

.call-to {
  color: #a6a6a6;
}

