.inbox-container {
  display: flex;
  flex-direction: column;
}

.archive-all {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 15px;
  padding: 1.2em 0;
  padding-left: 1em;
  margin: 1em 1em;
}

.archive-all:hover {
  cursor: pointer;
  background-color: #A8D5BAFF;
}

.archive-icon {
  margin-right: 0.5em;
}

.each-call-container {
  overflow: scroll;
}