.inbox-container {
  display: flex;
  flex-direction: column;
}

.archive-all {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 1.5em 0;
  padding-left: 1em;
  margin: 1em 1em;
}

.archive-all:hover {
  cursor: pointer;
  background-color: #9cffb9;
}

