.tab-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 1.5em;
  height: 1.8em;
  color: rgba(0, 0, 0, 0.55);
}

ul.tab-nav li {
  padding: 0 3em;
}

ul.tab-nav li:hover {
  border-bottom: 3px solid #A8D5BAFF;
  cursor: pointer;
}

ul.tab-nav li.active {
  color: rgb(0, 0, 0);
  border-bottom: 3px solid #A8D5BAFF;
  font-weight: bold;
}
